html, body {
  background-color: #f5d6d6;
  color: #363636;
  font-family: Arial, sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
	color: #ee3769;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
	color: #363636;
	font-weight: bold;
}

input[type="email"],
input[type="text"] {
	padding: 0.5rem;
	border: none;
	border-radius: 4px;
	margin-bottom: 1rem;
	background-color: #f8e8e8;
}

input[type="submit"] {
	padding: 0.5rem 1rem;
	background-color: #ee3769;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #b82f5b;
}

p {
	margin-top: 1rem;
}

#tokenCount {
	font-weight: bold;
	color: #ee3769;
}

#timer {
	font-weight: bold;
	color: #ee3769;
	font-size: 1.2rem;
}

#tokenForm {
	text-align: center;
}

#tokenDisplay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FF69B4; /* change the background color to pink */
  padding: 10px; /* add padding to create some space around the content */
  border-top-left-radius: 15px; /* round the top-left corner */
  border-bottom-right-radius: 15px; /* round the bottom-right corner */
}

#tokenDisplay span {
  display: inline-block;
  font-size: 24px;
  margin-right: 5px;
  background-color: #FFF; /* add a white background to the span */
  padding: 5px 10px; /* add padding to create some space around the content */
  border-top-left-radius: 15px; /* round the top-left corner of the span */
  border-bottom-right-radius: 15px; /* round the bottom-right corner of the span */
}

